bin/
obj/
.idea
.vs
Dependencies
dist
node_modules
secret.token
*vscode
client/SPTLeaderboard.sln.DotSettings.user
*.7z
BuildScripts/Build/
BuildScripts/_FullPackStaging/
*.dll
*.pdb

BuildScripts/HASH.txt
